Backup/WebReferences/Web References/NWA.Safetrac.Scanner.WebReferences.NET.FreightLoad/WS_Freight_Load.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://safetrac.nwa.com/literalTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://safetrac.nwa.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://safetrac.nwa.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://safetrac.nwa.com/literalTypes">
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="anyType" nillable="true" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UnloadFreightSoapIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnloadFreightSoapOut">
    <wsdl:part name="UnloadFreightResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitiateCargoSoapIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitiateCargoSoapOut">
    <wsdl:part name="InitiateCargoResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFreightInBinBulkSoapIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
    <wsdl:part name="HoldId" type="s:string" />
    <wsdl:part name="ManualInputInd" type="s:string" />
    <wsdl:part name="Dest" type="s:string" />
    <wsdl:part name="FinalDest" type="s:string" />
    <wsdl:part name="Remarks" type="s:string" />
    <wsdl:part name="ExpediteInd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFreightInBinBulkSoapOut">
    <wsdl:part name="LoadFreightInBinBulkResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadNewFreightBinBulkSoapIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
    <wsdl:part name="HoldId" type="s:string" />
    <wsdl:part name="ManualInputInd" type="s:string" />
    <wsdl:part name="Dest" type="s:string" />
    <wsdl:part name="FinalDest" type="s:string" />
    <wsdl:part name="Remarks" type="s:string" />
    <wsdl:part name="ExpediteInd" type="s:string" />
    <wsdl:part name="PieceCount" type="s:string" />
    <wsdl:part name="PieceWeight" type="s:string" />
    <wsdl:part name="CommodityType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadNewFreightBinBulkSoapOut">
    <wsdl:part name="LoadNewFreightBinBulkResult" type="s:anyType" />
  </wsdl:message>
  <wsdl:message name="ProcessFreightSoapIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="LDFlag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessFreightSoapOut">
    <wsdl:part name="ProcessFreightResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnloadFreightHttpGetIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnloadFreightHttpGetOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="InitiateCargoHttpGetIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitiateCargoHttpGetOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="LoadFreightInBinBulkHttpGetIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
    <wsdl:part name="HoldId" type="s:string" />
    <wsdl:part name="ManualInputInd" type="s:string" />
    <wsdl:part name="Dest" type="s:string" />
    <wsdl:part name="FinalDest" type="s:string" />
    <wsdl:part name="Remarks" type="s:string" />
    <wsdl:part name="ExpediteInd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFreightInBinBulkHttpGetOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="LoadNewFreightBinBulkHttpGetIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
    <wsdl:part name="HoldId" type="s:string" />
    <wsdl:part name="ManualInputInd" type="s:string" />
    <wsdl:part name="Dest" type="s:string" />
    <wsdl:part name="FinalDest" type="s:string" />
    <wsdl:part name="Remarks" type="s:string" />
    <wsdl:part name="ExpediteInd" type="s:string" />
    <wsdl:part name="PieceCount" type="s:string" />
    <wsdl:part name="PieceWeight" type="s:string" />
    <wsdl:part name="CommodityType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadNewFreightBinBulkHttpGetOut">
    <wsdl:part name="Body" element="s0:anyType" />
  </wsdl:message>
  <wsdl:message name="ProcessFreightHttpGetIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="LDFlag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessFreightHttpGetOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="UnloadFreightHttpPostIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnloadFreightHttpPostOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="InitiateCargoHttpPostIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitiateCargoHttpPostOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="LoadFreightInBinBulkHttpPostIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
    <wsdl:part name="HoldId" type="s:string" />
    <wsdl:part name="ManualInputInd" type="s:string" />
    <wsdl:part name="Dest" type="s:string" />
    <wsdl:part name="FinalDest" type="s:string" />
    <wsdl:part name="Remarks" type="s:string" />
    <wsdl:part name="ExpediteInd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadFreightInBinBulkHttpPostOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="LoadNewFreightBinBulkHttpPostIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="AWB" type="s:string" />
    <wsdl:part name="HoldId" type="s:string" />
    <wsdl:part name="ManualInputInd" type="s:string" />
    <wsdl:part name="Dest" type="s:string" />
    <wsdl:part name="FinalDest" type="s:string" />
    <wsdl:part name="Remarks" type="s:string" />
    <wsdl:part name="ExpediteInd" type="s:string" />
    <wsdl:part name="PieceCount" type="s:string" />
    <wsdl:part name="PieceWeight" type="s:string" />
    <wsdl:part name="CommodityType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoadNewFreightBinBulkHttpPostOut">
    <wsdl:part name="Body" element="s0:anyType" />
  </wsdl:message>
  <wsdl:message name="ProcessFreightHttpPostIn">
    <wsdl:part name="DeviceId" type="s:string" />
    <wsdl:part name="Carrier" type="s:string" />
    <wsdl:part name="Flight" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Station" type="s:string" />
    <wsdl:part name="LDFlag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessFreightHttpPostOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:portType name="WS_Freight_LoadSoap">
    <wsdl:operation name="UnloadFreight">
      <wsdl:input message="tns:UnloadFreightSoapIn" />
      <wsdl:output message="tns:UnloadFreightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitiateCargo">
      <wsdl:input message="tns:InitiateCargoSoapIn" />
      <wsdl:output message="tns:InitiateCargoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFreightInBinBulk">
      <wsdl:input message="tns:LoadFreightInBinBulkSoapIn" />
      <wsdl:output message="tns:LoadFreightInBinBulkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadNewFreightBinBulk">
      <wsdl:input message="tns:LoadNewFreightBinBulkSoapIn" />
      <wsdl:output message="tns:LoadNewFreightBinBulkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFreight">
      <wsdl:input message="tns:ProcessFreightSoapIn" />
      <wsdl:output message="tns:ProcessFreightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_Freight_LoadHttpGet">
    <wsdl:operation name="UnloadFreight">
      <wsdl:input message="tns:UnloadFreightHttpGetIn" />
      <wsdl:output message="tns:UnloadFreightHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InitiateCargo">
      <wsdl:input message="tns:InitiateCargoHttpGetIn" />
      <wsdl:output message="tns:InitiateCargoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFreightInBinBulk">
      <wsdl:input message="tns:LoadFreightInBinBulkHttpGetIn" />
      <wsdl:output message="tns:LoadFreightInBinBulkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadNewFreightBinBulk">
      <wsdl:input message="tns:LoadNewFreightBinBulkHttpGetIn" />
      <wsdl:output message="tns:LoadNewFreightBinBulkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFreight">
      <wsdl:input message="tns:ProcessFreightHttpGetIn" />
      <wsdl:output message="tns:ProcessFreightHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_Freight_LoadHttpPost">
    <wsdl:operation name="UnloadFreight">
      <wsdl:input message="tns:UnloadFreightHttpPostIn" />
      <wsdl:output message="tns:UnloadFreightHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InitiateCargo">
      <wsdl:input message="tns:InitiateCargoHttpPostIn" />
      <wsdl:output message="tns:InitiateCargoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFreightInBinBulk">
      <wsdl:input message="tns:LoadFreightInBinBulkHttpPostIn" />
      <wsdl:output message="tns:LoadFreightInBinBulkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadNewFreightBinBulk">
      <wsdl:input message="tns:LoadNewFreightBinBulkHttpPostIn" />
      <wsdl:output message="tns:LoadNewFreightBinBulkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFreight">
      <wsdl:input message="tns:ProcessFreightHttpPostIn" />
      <wsdl:output message="tns:ProcessFreightHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Freight_LoadSoap" type="tns:WS_Freight_LoadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="UnloadFreight">
      <soap:operation soapAction="http://safetrac.nwa.com/UnloadFreight" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitiateCargo">
      <soap:operation soapAction="http://safetrac.nwa.com/InitiateCargo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFreightInBinBulk">
      <soap:operation soapAction="http://safetrac.nwa.com/LoadFreightInBinBulk" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadNewFreightBinBulk">
      <soap:operation soapAction="http://safetrac.nwa.com/LoadNewFreightBinBulk" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFreight">
      <soap:operation soapAction="http://safetrac.nwa.com/ProcessFreight" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://safetrac.nwa.com/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Freight_LoadHttpGet" type="tns:WS_Freight_LoadHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UnloadFreight">
      <http:operation location="/UnloadFreight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitiateCargo">
      <http:operation location="/InitiateCargo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFreightInBinBulk">
      <http:operation location="/LoadFreightInBinBulk" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadNewFreightBinBulk">
      <http:operation location="/LoadNewFreightBinBulk" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFreight">
      <http:operation location="/ProcessFreight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Freight_LoadHttpPost" type="tns:WS_Freight_LoadHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UnloadFreight">
      <http:operation location="/UnloadFreight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitiateCargo">
      <http:operation location="/InitiateCargo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFreightInBinBulk">
      <http:operation location="/LoadFreightInBinBulk" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadNewFreightBinBulk">
      <http:operation location="/LoadNewFreightBinBulk" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFreight">
      <http:operation location="/ProcessFreight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Freight_Load">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="WS_Freight_LoadSoap" binding="tns:WS_Freight_LoadSoap">
      <soap:address location="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_Freight_Load_AOT/WS_Freight_Load.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Freight_LoadHttpGet" binding="tns:WS_Freight_LoadHttpGet">
      <http:address location="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_Freight_Load_AOT/WS_Freight_Load.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Freight_LoadHttpPost" binding="tns:WS_Freight_LoadHttpPost">
      <http:address location="http://bmlabj01.mn.nwa.com/safetrac/webservices/WS_Freight_Load_AOT/WS_Freight_Load.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>